deb {{ ubuntu_repo_path }} focal main restricted universe multiverse
deb {{ ubuntu_repo_path }} focal-security main restricted universe multiverse
deb {{ ubuntu_repo_path }} focal-updates main restricted universe multiverse
deb {{ ubuntu_repo_path }} focal-proposed main restricted universe multiverse
deb {{ ubuntu_repo_path }} focal-backports main restricted universe multiverse
